.cont-img{
    background-image: url('prebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 20px;
}

.blurring{ 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    color: white!important;
    backdrop-filter: blur(1px);
    height: 100vh;
}


.footer{
    padding: 100px;
    background-color: #071b4d!important;
    color: white!important;
}

.course-note{
    font-size: 18px;
    line-height: 25px;
}


.buy-btn {
    background-image: linear-gradient(to right,#0d826e,#071b4d, #0d826e);
    width: 300px;
    padding: 20px;
}

.fav-btn {
    background-image: linear-gradient(to right,#0d826e,#071b4d, #0d826e);
    padding: 10px;
    font-size: 14px;
}

.pre-btn{
    width: 300px;
    padding: 20px;
}

.pre-btn:hover{
    background-color: white;
    color: black!important;
}


.accordion-item{
    border-width: 0px!important;
}

.course-part:hover{
    background-color: #071b4d;
    color: white;
    cursor: pointer;
}

.main{
    background-color: #0d826e!important;
}


body{
    background-color: rgb(36, 33, 33);
}


.rating{
    font-size: 14px;
    border-bottom: 2px solid black;
}

.desc{
    font-size: 14px;
}

.author-pics{
    border-radius: 50%;
    width: 40%;
    border: 1px solid #0d826e;
    box-shadow: 2px 2px 2px dimgray;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.accord-section{
    height: 100vh!important;
}

.accordion-button{
    background-color: #0d826e!important;
    color: white!important;
}

.accordion-body{
    background-color: white!important;
}


.fst-italic{
    color: #0d826e!important;
}


.break{
    border-top: 2px solid #0d826e;
    border-bottom: 2px solid #0d826e;
}

.bg-dark, .bg-black{
    background-color: white!important;
    color: #071b4d!important;
}

.text{
    color: #071b4d!important;
}

.nav{
    background-color: black;
    margin-bottom: 0px!important;
}

.nav-pills .nav-link.active{
    background-color: black!important;
    border-radius: 0px!important;
    border-top: 4px solid #0d826e;
    color: white!important;
}

.nav-pills .nav-link{
    color: #0d826e!important;
}


@media only screen and (min-device-width:320px) and (max-device-width:420px){
    .accord-section{
        overflow-y: auto;
        height: auto!important;
    }

    .blurring{
        height: auto;
    }


    .cont-img{
        padding: 0px !important;
    }
    
    .blurring{
        padding: 20px 20px 50px 20px!important;
    }


    .course-title{
        font-size: 40px!important;
        margin-top: 100px!important;
    }

    /* .course-note{
        font-size: 14px;
        line-height: 20px;
    } */

    .buy-btn, .pre-btn{
        width: 280px;
    }

    .fav-btn{
        font-size: 14px;
    }

    .pre-btn{
        margin-left: 0px!important;
        margin-top: 20px;
    }

    .details-section{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }

    .description{
        margin-top: 20px!important;
        padding: 0px!important;
    }

    .authors{
        padding-top: 30px!important ;
    }

    .author-pics{
        margin-bottom: 20px!important;
    }


    .learn{
        padding: 10px!important;
    }

    .video{
        margin-top: 6px!important;
    }

    .vid-cont{
        padding: 0px!important;
    }
}